.test-case-editor .ant-row {
    margin-bottom: 12px;
}

.test-case-editor .test-step {
    height: 66px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.test-case-editor .action {
    width: 45%
}

.test-case-editor .expected-result {
    width: 45%;
    margin-left: 20px
}

.test-case-editor .button{
    cursor: pointer;
    font-size: 18px;
    margin-left: 17px;
    opacity: 0.6;
}

.test-case-editor .insert {
    color: #72b84c;
}

.test-case-editor .delete {
    color: #da4d5e;
}

.test-case-editor .button:hover {
    opacity: 1;
}

