.test-case-editor .ant-row {
    margin-bottom: 12px;
}

.test-case-editor .rich-text-editor .editor {
    height: 81px;
    overflow: auto;
}

.test-case-editor .spliter-wrapper {
    width: 100%;
    padding: 10px 0;
}

.test-case-editor .spliter-wrapper .spliter {
    height: 0;
    overflow: hidden;
}

.test-case-editor .spliter-wrapper:hover .spliter {
    height: 28px;
}

.test-case-editor .spliter {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border: 1px #d9d9d9 dashed;
    border-radius: 4px;
    width: 100%;
    height: 28px;
}

.test-case-editor .spliter:hover {
    border-color: #108ee9;
}

.test-case-editor .test-step:after {
    content:"";
    display: block;
    clear: both;
}

.test-case-editor .action {
    width: 45%;
    float: left;
}

.test-case-editor .expected-result {
    width: 45%;
    margin-left: 20px;
    float: left;
}

.test-case-editor .action-icon {
    margin-left: 12px;
    opacity: 0.6;
    float: left;
    border: none;
}

.test-case-editor .action-icon:hover {
    opacity: 1;
}

.test-case-editor .copy {
    color: #109cfc;
}

.test-case-editor .delete {
    color: #da4d5e;
}

.test-case-editor .action-button {
    border: none;
    margin-top: 2px;
}

.test-case-editor .add {
    margin-left: 33.5%;
}

.test-case-editor .paste {
    margin-left: 3.5%;
}



