.tabbed-panel {
    margin: 1px 5px 0 5px;
}

.tabbed-panel .ant-tabs-bar {
    margin-bottom: 0;
}

.tabbed-panel .ant-tabs-bar .ant-tabs-tab {
    padding: 5px 16px 4px 6px!important;
}

.tabbed-panel .ant-tabs-nav .ant-tabs-tab .anticon {
    margin-right: 3px;
}

.tabbed-panel .ant-tabs-bar .ant-tabs-tab .anticon-close {
    opacity: 1 !important;
    font-size: 16px !important;
    font-weight: bold !important;
    margin-top: -6px !important;
    margin-right: 1px !important;
}

/*each tab panel*/
.tabbed-panel .ant-tabs-tabpane {
    overflow: auto;
    height: calc(100% - 33px);
    padding: 0 5px;
}

.tabbed-panel .info {
    font-size: 20px;
    margin-top: 50px;
    text-align: center
}