::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* tree custom style*/
.ant-tree .ant-tree-bottom_open:after,
.ant-tree .ant-tree-roots_open:after,
.ant-tree .ant-tree-center_open:after {
    content: "\E699" !important;
    font-size: 13px !important;
    color: #e6c841;
}

.ant-tree .ant-tree-bottom_close:after,
.ant-tree .ant-tree-roots_close:after,
.ant-tree .ant-tree-center_close:after {
    content: "\E662" !important;
    font-size: 13px !important;
    color: #e6c841;
}

.ant-tree .ant-tree-node-content-wrapper {
    min-width: 50px;
}

.ant-tree .ant-tree-node-content-wrapper {
    padding: 0 !important;
}

.ant-tree .ant-tree-switcher {
    height: 20px !important;
    line-height: 20px !important;
}

.ant-tree li:not(:last-child):before {
    margin: 19px 0 !important;
}

.ant-tree li {
    padding: 3px 0 !important;
}